{
  "IdentityData": {
    "Roles": [
      {
        "Name": "AdminRole"
      }
    ],
    "Users": [
      {
        "Username": "landon",
        "Password": "123456",
        "Email": "landonzeng@qq.com",
        "Roles": [
          "AdminRole"
        ],
        "Claims": [
          {
            "Type": "name",
            "Value": "admin"
          }
        ]
      }
    ]
  }
}